* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}


*, input, button {
    font-family: 'League Spartan', sans-serif;
    background-color:  #121214;
    color: #FFFFFF; 
   
}

main {
    display: flex;
    align-items: stretch;
    height: calc(100vh);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 2;

    gap: 50px;
    margin-top: 42px;
    padding: 0 36px;
    padding-right: 100px;
}

.content__logo {
    padding-bottom: 50px;
}

.logo__image {
    min-height: 94px;
    max-height: 94px;
}

.content__header {
    display: flex;
    flex-direction: column;
}

.content__header h2 {
    font-size: 24px;
    color: #08C05E;
}

.content__header p {
    font-size: 16px;
    line-height: 16px;
}

.content__header-strong {
    font-weight: 700;
    margin: 9px 0;
}

.content__header-text {
    font-weight: 200;
}

.hero {
    flex: 3;
    background-image: url("./assets/read_news.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__form {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 72px;  
}

.content__form label {
    color: #A8A8A8;
}

.content__form__input {
    display: flex;
    position: absolute;
    top: 25px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.8);
}

.content__form__input input {
    width: 698px;
    height: 48px;
    border: transparent;
    border-left: 5px solid #08C05E;
    background-color: white;
    color: #121214;
    outline: none;
    padding-left: 1rem;
}

.content__form__input button {
    width: 48px;
    height: 48px;
    background-color: #8257E5;
    border: #8257E5;
}

.content__form__button {
    background-color: #8257E5;
    fill: red;
}


.content__footer p {
    display: flex;
    align-items: center;
    color: #8257E5;
}
